*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    color:black;
}


.second{
    height:400px;
    width:30%;
    box-sizing: border-box;
    box-shadow: 0 2px 3px black;
    background-color: rgb(255, 255, 255);
    margin-top: 130px;
    overflow: hidden;
    margin-left: 35%;
    border-radius: 10px;
}

.top{
    height:7px;
    background-color: rgb(244, 154, 10);
    width:100%;
    border-radius: 10px 10px 0 0;
}

.p{
    font-size: 40px;
    font-weight: 600;
    text-transform: none;
    margin-top: 10px;
    text-align: center;
    user-select: none;
}
.p1{
    text-transform: none;
    text-align: center;
    font-weight: 500;
    user-select: none;

}

.p1 span{
    text-decoration: underline;
    color:#f96705;
    cursor: pointer;
}

.p1 span:hover{
    color:#006dcd;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.bottom{
    height:643px;
    width:100%;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 20px;
}

.rowu{
    display: flex;
    justify-content: space-between;
}

.colu{
    display: flex;
    width:100%;
}

.ic{
    box-sizing: border-box;
    border:2px solid rgb(200, 196, 196);
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.input2{
    padding-top: 10px;
    width:100%;
    padding-bottom: 10px;
    padding-left: 4px;
    border:2px solid rgb(203, 200, 200);
    outline: none;
    border-radius: 0 5px 5px 0;
}


@media (max-width:1280px){
    .rowu{
        display: flex;
        flex-direction: column;
    }

    .bottom{
        height:643px;
        width:100%;
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 20px;
    }

    .second{
        height:400px;
        width:30%;
        box-sizing: border-box;
        box-shadow: 0 2px 3px black;
        background-color: rgb(255, 255, 255);
        margin-top: 150px;
        margin-left: 35%;
    }

  

}

@media (max-width:1244px){

    .second{
        height:400px;
        width:40%;
        box-sizing: border-box;
        box-shadow: 0 2px 3px black;
        background-color: rgb(255, 255, 255);
        margin-top: 150px;
        margin-left: 30%;
    }
}

@media (max-width:1025px){

    .second{
        height:380px;
        width:40%;
        box-sizing: border-box;
        box-shadow: 0 2px 3px black;
        background-color: rgb(255, 255, 255);
        margin-top: 100px;
        margin-left: 30%;
    }
}

@media (max-width:912px){

    .second{
        height:400px;
        width:60%;
        box-sizing: border-box;
        box-shadow: 0 2px 3px black;
        background-color: rgb(255, 255, 255);
        margin-top: 150px;
        margin-left: 20%;
    }
}


@media (max-width:540px){

    .second{
        height:400px;
        width:80%;
        box-sizing: border-box;
        box-shadow: 0 2px 3px black;
        background-color: rgb(255, 255, 255);
        margin-top: 150px;
        margin-left: 10%;
    }
}



/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}